/* Make the map fill the screen but start below the fixed topbar */
/* Make sure the page can stretch */
html, body {
  height: 100%;
  margin: 0;
}

/* If your topbar is 78px */
#map {
  position: absolute;
  top: 78px;   /* EXACT topbar height */
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}


/* phones: allow extra space for 2-row topbar */
@media (max-width: 767.98px) {
  #map {
    top: 120px;
  }
}

/* tablets */
@media (min-width: 768px) and (max-width: 1199.98px) {
  #map {
    top: 96px;
  }
}

/* desktop */
@media (min-width: 1200px) {
  #map {
    top: 78px;
  }
}
