/* Make the map fill the screen but start below the fixed topbar */
/* Make sure the page can stretch */
html, body {
  height: 100%;
  margin: 0;
}

/* map.css */

/* Map fills available content area */
#map {
  width: 100%;
  height: 100%;
}

/* Leaflet container must stretch */
.leaflet-container {
  width: 100%;
  height: 100%;
}



/* phones: allow extra space for 2-row topbar
@media (max-width: 767.98px) {
  #map {
    top: 120px;
  }
}

/* tablets */
/* @media (min-width: 768px) and (max-width: 1199.98px) {
  #map {
    top: 96px;
  }
} */ */


