<div class="topbar">
  <!-- Left: Brand -->
  <div class="brand-wrap">
    <div class="brand">Indian Railways Assets Editor</div>
  </div>

  <!-- Push widgets to right -->
  <div class="spacer"></div>

  <!-- Right: Icon widgets -->
  <div class="widgets">
    <button title="Layers" (click)="toggle('layers')">
      <i class="bi bi-layers"></i>
    </button>

    <button title="Legend" (click)="toggle('legend')">
      <i class="bi bi-list-ul"></i>
    </button>

    <button title="Basemap" (click)="toggle('basemap')">
      <i class="bi bi-map"></i>
    </button>

    <button title="Filter" (click)="toggle('filter')">
      <i class="bi bi-funnel"></i>
    </button>

    <button title="Edit" (click)="toggle('edit')">
      <i class="bi bi-pencil-square"></i>
    </button>
  </div>
</div>


