/* .panel {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 220px;
  background: white;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  z-index: 2000;
} */

label {
  display: block;
  font-size: 13px;
  margin-bottom: 8px;
}

input {
  width: 100%;
  margin-top: 2px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
