<div class="dashboard-page">

  <!-- ================= MAIN CARDS ================= -->
  <div class="main-cards">
    <div class="main-card" *ngFor="let card of mainCards">
      <div class="main-title">{{ card.title }}</div>
      <div class="main-value">{{ card.value }}</div>
    </div>
  </div>

  <!-- ================= SUB CARDS ================= -->
  <div class="sub-cards">
    <div class="sub-card" *ngFor="let card of subCards">
      <div class="sub-title">{{ card.title }}</div>
      <div class="sub-value">{{ card.value }}</div>
    </div>
  </div>

</div>
