/* .panel {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 220px;
  background: white;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  z-index: 2000;
} */

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 24px;
}

.symbol {
  margin-right: 12px;
}

.symbol.point {
  width: 14px;
  height: 14px;
  border-radius: 60%;
}

.symbol.line {
  width: 22px;
  height: 6px;
}
